.main {
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  font-weight: lighter;
  color: #000066;
  padding: 0px 0px;
  margin: 0px 0px;
}
.logo {
  background: url("img/site_logo.png") no-repeat;
  background-size: contain;
  width: 90%;
  height: 90%;
}
