.poem {
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
	color: #006600;
  width: 420px;
  margin: 0 auto;
  text-align: center;
}
.poem.nav {
  letter-spacing: 3px;
}
.poem.nav a {
  font-family: Didot,Didot LT STD,Hoefler Text,Garamond,Times New Roman,serif;
  font-style: normal;
  font-weight: bold;
	text-decoration: none;
	color: #006600;
}
.poem.title {
  font-size: 1.4em;
  padding: 22px 0;
  font-variant: small-caps;
}
.poem.date {
  font-size: 0.75em;
  margin-top: 1em;
}
